@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/event2.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
}

.navigation .contact {
    color: #A3A847;
}

header .navigation li a:hover {
    color: #A3A847;
}

.container {
    max-width: 1000px;
}

.container h1{
    font-size: 3em;
    color: #fff;
    line-height: 1em;
    text-align: center;
    margin-bottom: 20px;
}
  
.contact-form{
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}
  
.contact-form-text{
    font-family: sans-serif;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #FFEEDB;
    padding: 20px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #dae062;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    display: inline-block;
    padding: 10px 30px;
    background: #f7efda;
    color: #865439;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #A3A847;
}



@media (max-width: 991px)
{
    header {
        padding: 15px 40px;
    }
    section {
        padding: 40px;
        background: url(images/event5.jpg);
        background-size: cover;
        background-position: center;
    }

    .container h1 {
        font-size: 2.5em;
        margin-top: 50px;
    }


    header .navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .navigation.active {
        display: flex;
    }
    header .navigation li a {
        font-size: 24px;
        margin: 10px 0;
    }
    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }
    .toggleMenu.active {
        background: url(images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
}

